.offer__section{
    position: relative;
    top: -75px;
    z-index: 2;
    .single__offer__box{
        width: 420px;
        height: 160px;
        border-radius:10px;
        padding:37px 25px;
        background:$white;
        @media #{$max-xl} {
            width:100%;
            margin-bottom: 30px;
        }
        .icon{
            width: 90px;
            height: 90px;
            border-radius:10px;
            background:rgba($color: #8E66FF, $alpha: 0.2);
            padding: 19px 18px;
        }
        .icon-two{background:rgba($color: #FF3E4A, $alpha: 0.2);}
        .icon-three{background:rgba($color: #FF8700, $alpha: 0.2);}
        .icon-three{background:rgba($color: #2878EB, $alpha: 0.2);}
        .offer__name{
            margin-left:20px;
        }
        .offer__title{
            font-size:30px;
            font-weight:700;
            @include transition(0.3s);
            &:hover{
                color: $theme-color;
            }
        }
        p{
            font-size:16px;
        }
    }
}
.offer__section__two{
    top: 0;
    .single__offer__box{
        width: 100%;
        height: auto;
        .offer__name{
            margin-left: 0;
        }
        .icon{
            border-radius:50%;
        }   
    }
}